@page "/"
@inject InlineEditBlazorControls.WebApp.Services.SoccerDataService SoccerService;

<h1>InlineEditBlazorControls-Demo</h1>
<hr />
<h2>Text-Edit</h2>
<hr />
@if (Matches.Any())
{
    <div class="lead">@Matches.FirstOrDefault().LeagueName</div>
}
<table class="table table-sm mt-2">
    <thead>
        <tr>
            <th>DateTime</th>
            <th colspan="3" class="text-center">Teams</th>
            <th>Comment</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Matches)
        {
            <tr>
                <td>@match.MatchDateTime</td>
                <td class="text-right">
                    @match.Team1.TeamName
                </td>
                <td width="12px">:</td>
                <td class="text-left">
                    @match.Team2.TeamName
                </td>
                <td>
                    <InlineTextEditor EditableValue="@match.Comment" EditableValueId="@match.MatchId" ValueSaved="CommentEdited"></InlineTextEditor>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {

    public List<InlineEditBlazorControls.WebApp.Services.Match> Matches { get; set; } = new List<Services.Match>();

    protected override async Task OnInitializedAsync()
    {
        Matches = await SoccerService.GetMatches();
    }

    void CommentEdited(InlineEditTextCallback e)
    {
        Matches.Where(m => m.MatchId == e.ReferenceId).FirstOrDefault().Comment = e.Value;

        // do something else, save in DB, ...
    }

}

